Source: poker-packets
Section: python
Priority: optional
Maintainer: Andor Goetzendorff <andor@pokermania.de>
X-Python-Version: >= 2.6, << 3.0
Build-Depends:
    debhelper,
    python-all
Standards-Version: 3.9.1
Homepage: http://github.com/pokermania/poker-packets

Package: python-poker-packets
Section: python
Architecture: all
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-reflogging
Description: poker-packets
 this package contains all needed datastructures (called "Poker Packets") needed for
 the communication with several python-poker components such as python-poker-network. 
