Source: poker-packets
Section: python
X-Python-Version: >= 2.6
Priority: optional
Maintainer: Andor Goetzendorff <andor@pokermania.de>
Build-Depends: debhelper, python (>= 2.6)
Standards-Version: 3.9.1
Homepage: http://github.com/pokermania/poker-packets

Package: python-poker-packets
Section: python
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6)
Description: poker-packets
 this package contains all needed datastructures (called "Poker Packets") needed for
 the communication with several python-poker components such as python-poker-network. 
